.aboutMe p{
    text-align: center;
    padding: 20px;
}

.skills{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
}

.skills ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.skills li{
    list-style-type: none;
    float: left;
    padding: 15px;
    font-size: 40px;
}

.skills li:hover{
    color: #0E7C7B;
}