.cbp-vimenu {
	position: fixed;
	overflow: hidden;
	top: 0; /*0 or 25%*/
	left: 0;
	height: 100%; /*100% or 400px*/
	list-style-type: none;
	margin: 0;
	padding: 0;
	background: #1B264F;
	z-index: 99;
}

.cbp-vimenu li a {
	display: block;
	height: 5em;
	width: 5em;
	line-height: 5em;
	text-align: center;
	color: #999;
	position: relative;
	border-bottom: 1px solid rgba(0,0,0,0.5);
}

.cbp-vimenu li a:hover{
	background: #3F7CAC;
	color: #fff;
}

/* class for current item */
.cbp-vimenu li:first-child a{
	background: #3F7CAC;
	color: #999;
}

.initials span{
	background-color: snow;
	padding: 10px;
	border-radius: 100%;
}

.initials:hover :first-child{
	color: #3F7CAC;
	transform: rotateY(180deg);
}

.cbp-vimenu li a:before {
	font-family: 'ecoico';
	font-style: normal;
	font-weight: normal;
	text-indent: 0em;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-size: 1.4em;
	-webkit-font-smoothing: antialiased;
}
