.namewithimage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    margin: 0 auto;
    width: 80%;
    margin-top: 1%;
}

.namewithimage img{
    width: 40%;
    border-radius: 50%;
}