.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    width: 80%;
    margin: 0 auto;
}

.intro h2, p{
    text-align: center;
}

.techUsed{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
}

.techUsed ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.techUsed li{
    list-style-type: none;
    float: left;
    padding: 15px;
    font-size: 36px;
}

.techUsed li:hover{
    color: green;
}